.projects {
    padding-bottom: 2.5rem; 
}

.title {
    line-height: 2.5rem; 
    font-weight: 700; 
    text-align: center;
    color: var(--title-color);
    font-size: var(--title-font-size);
}

.description {
    text-align: center; 
    font-size: var(--text-font-size);
    color: var(--text-color);  
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: clamp(6px, 3vw, 2rem) clamp(6px, 3vw, 2rem);
    justify-content: center; 
    justify-self: center; 
    align-items: center;
    width: 80%;
    max-width: max-content;
    margin: 0 auto; 
    background: linear-gradient(90deg,#16056c,rgb(98, 185, 232)); 
    border-radius: 50px;
    padding: clamp(6px, 2vw, 2rem) clamp(6px, 2vw, 2rem);
    border: 2px solid #b0aaaa;
}

@media (max-width: 1199.98px) {
    .projectCards {
        width: 100%;
    }
}
