.footer {
    font-weight: 700; 
    color: var(--title-color);
    box-shadow: var(--menu-shadow);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-size: var(--title-font-size);
    font-weight: 700;
    -webkit-tap-highlight-color: transparent;
}

.icons {
    display: flex; 
    gap: 1rem; 
    font-size: 1.125rem;
    line-height: 1.75rem;     
}

.icon {
    position: relative;
}

.icon i{
    padding: 0.5rem; 
    transition: 0.5s;
    border: 1px solid var(--title-color);
    border-radius: 50%;
}

.description {
    position: absolute;
    color: 1px solid var(--title-color);
    top: -65%;
    left: 0;
    right: 0;
    font-size: 10px;
    font-weight: 300;
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .icon i:hover{
        background-color: var(--icon-background-color);
        color: blue; 
        transition: 0.5s; 
    }

    .icon:hover .description{
        opacity: 1;
    }
}

@media screen and (max-width: 350px) {
  .logo{
      display: none;
  }
  .icons {
      margin: 0 auto;
  }
}